<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: 'example@email.com', class: 'form-control' %></br>
        <%= f.label :first_name %>
        <%= f.text_field :firstname, autocomplete: "off", placeholder: 'First Name', class: 'form-control' %>
        <%= f.label :last_name %>
        <%= f.text_field :lastname, autocomplete: "off", placeholder: 'Last Name', class: 'form-control' %></br>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'password', class: 'form-control' %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'password confirmation', class: 'form-control' %></br>
        <%= f.label :group_id %>
        <%= f.number_field :group_id, autocomplete: "off", placeholder: 'Group #', class: 'form-control' %>
        <%= f.label :organization_id %>
        <%= f.number_field :organization_id, autocomplete: "off", placeholder: 'Organization #', class: 'form-control' %></br>
        <%= f.label :role %>
        <%= f.select( :role, User::ROLES, {include_blank: 'None'}, class: 'form-control' ) %>
      </div>
      <button name="commit" type="submit" class="btn btn-primary"><%= action_name %> user</button>
    </form>
<% end %>
