<h1>Listing schedules</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Mon</th>
      <th>Tues</th>
      <th>Wed</th>
      <th>Thur</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.user_id %></td>
        <td><%= schedule.mon %></td>
        <td><%= schedule.tues %></td>
        <td><%= schedule.wed %></td>
        <td><%= schedule.thur %></td>
        <td><%= schedule.fri %></td>
        <td><%= schedule.sat %></td>
        <td><%= schedule.sun %></td>
        <td><%= link_to schedule do %> <span class="glyphicon glyphicon-eye-open"></span> <% end %> </td>
        <td><%= link_to edit_schedule_path(schedule) do %><span class="glyphicon glyphicon-pencil"></span> <% end %></td>
        <td><%= link_to schedule, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-remove"></span> <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
